# .pre-commit-config.yaml
# see pyproject.toml for tool-specific configs

default_install_hook_types: [pre-commit, commit-msg]

repos:
# misc pre-commit helpers
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
      args:
        - --maxkb=500
    - id: check-toml
    - id: check-yaml
      args:
        - --unsafe  # Instead of loading the files, simply parse them for syntax
    - id: end-of-file-fixer  # Makes sure files end in a newline and only a newline
    - id: trailing-whitespace  # Trims trailing whitespace

# ruff
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
    - id: ruff-format
    - id: ruff

# mypy
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      additional_dependencies: ['pydantic', 'types-requests']

# sqlfluff
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 3.5.0
  hooks:
    - id: sqlfluff-fix
    - id: sqlfluff-lint

# uv
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.24
  hooks:
    - id: uv-lock
      args:
        - --check  # Requires that the lockfile is up-to-date. If the lockfile is missing or needs to be updated, uv will exit with an error.

# commitlint
#   (configuration in commitlint.config.js)
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.23.0
  hooks:
    - id: commitlint
      additional_dependencies: ['@commitlint/config-conventional']
      stages: [commit-msg]
